[
    {
        "scope": "https://lambda.us-east-1.amazonaws.com:443",
        "method": "GET",
        "path": "/2015-03-31/functions/peg-solitiare-dev-overview",
        "body": "",
        "status": 200,
        "response": {
            "Tags": {
                "STAGE": "dev"
            }
        }
    },
    {
        "scope": "https://listener.logz.io:8071",
        "method": "POST",
        "path": "/?token=dummy_logzio_token&type=prod",
        "body": "",
        "status": 200,
        "response": "",
        "rawHeaders": [
            "Content-Type",
            "text/plain; charset=UTF-8"
        ]
    }
]
