[
    {
        "scope": "https://lambda.us-east-1.amazonaws.com:443",
        "method": "GET",
        "path": "/2015-03-31/functions/peg-solitiare-dev-overview",
        "body": "",
        "status": 200,
        "response": {
            "Tags": {
                "STAGE": "dev"
            }
        }
    },
    {
        "scope": "https://listener.logz.io:8071",
        "method": "POST",
        "path": "/?token=dummy_logzio_token&type=prod",
        "body": {
            "message": "REPORT RequestId: 1f4bc9c5-cfff-11e7-94f4-dbafe2834581\tDuration: 31.27 ms\tBilled Duration: 100 ms \tMemory Size: 256 MB\tMax Memory Used: 42 MB\t\n",
            "logGroupName": "/aws/lambda/peg-solitiare-dev-overview",
            "logStreamName": "2017/11/23/[$LATEST]1ce57f5c4c1549feb4c9edc021fef93e",
            "@timestamp": "2017-11-23T03:33:51.419Z",
            "requestId": "1f4bc9c5-cfff-11e7-94f4-dbafe2834581",
            "duration": "31.27",
            "billedDuration": "100",
            "maxMemory": "256",
            "memory": "42"
        },
        "status": 200,
        "response": "",
        "rawHeaders": [
            "Content-Type",
            "text/plain; charset=UTF-8"
        ]
    }
]
