[
  {
    "scope": "https://http-intake.logs.datadoghq.com:443",
    "method": "POST",
    "path": "/v1/input",
    "body": [
      {
        "logGroup": "/aws/lambda/peg-solitiare-dev-overview",
        "logEvent": {
          "id": "13705477413970201536500575666792700703924347154117689346",
          "timestamp": 1511405879665,
          "message": "peg-solitiare-dev-overview: Task timed out after 1.00 seconds\n\n"
        },
        "level": "warning"
      },
      {
        "logGroup": "/aws/lambda/peg-solitiare-dev-overview",
        "logEvent": {
          "id": "23705477413970201536500575666792700703924347154117689346",
          "timestamp": 1611405879665,
          "message": "peg-solitiare-dev-overview: Task timed out after 1.00 seconds\n\n"
        },
        "level": "warning"
      },
      {
        "logGroup": "/aws/lambda/peg-solitiare-dev-overview",
        "logEvent": {
          "id": "33705477413970201536500575666792700703924347154117689346",
          "timestamp": 1711405879665,
          "message": "peg-solitiare-dev-overview: Task timed out after 1.00 seconds\n\n"
        },
        "level": "warning"
      }
    ],
    "status": 200,
    "response": {},
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ],
    "responseIsBinary": false
  }
]
