[
  {
    "scope": "https://http-intake.logs.datadoghq.com:443",
    "method": "POST",
    "path": "/v1/input",
    "body": [
      {
        "_id": "33705477413970201536500575666792700703924347154117689346",
        "_timestamp": 1511405879665,
        "_level": "warning",
        "_group": "/aws/lambda/peg-solitiare-dev-overview",
        "path": "path/to/data1.json.gz",
        "status": 200
      },
      {
        "_id": "33705477413970201536500575666792700703924347154117689346",
        "_timestamp": 1632869943568,
        "_level": "warning",
        "_group": "/aws/lambda/peg-solitiare-dev-overview",
        "path": "path/to/data2.json.gz",
        "status": 200
      },
      {
        "_id": "33705477413970201536500575666792700703924347154117689346",
        "_timestamp": 1632869955749,
        "_level": "warning",
        "_group": "/aws/lambda/peg-solitiare-dev-overview",
        "path": "path/to/data3.json.gz",
        "status": 200
      }
    ],
    "status": 200,
    "response": {},
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ],
    "responseIsBinary": false
  }
]
