[
  {
    "scope": "https://api.datadoghq.com:443",
    "method": "POST",
    "path": "/api/v1/distribution_points?api_key=DATADOG_API_KEY",
    "body": {
      "series": [
        {
          "metric": "aws.lambda_monitor.lambda.init_start",
          "points": [
            [
              1577149167000,
              [
                1
              ]
            ]
          ],
          "type": "distribution",
          "tags": [
            "fnName:peg-solitiare-dev-overview",
            "environment:local-dev"
          ]
        }
      ]
    },
    "status": 200,
    "response": "",
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ],
    "responseIsBinary": false
  }
]
